flows.json
[{"id":"452c67e559f7f353","type":"subflow","name":"Subflow 1","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"ab5c5ba79235fc8b"}]}],"out":[{"x":520,"y":80,"wires":[{"id":"ab5c5ba79235fc8b","port":0}]}],"env":[],"meta":{"module":"node-red-contrib-cowsay1237","type":"cowsay","version":"0.0.3","author":"uralkir@gmail.com","desc":"Generate a cow that say msg.payload","keywords":"cowsay, art, debug","license":"Apache-2.0"},"color":"#DDAA99"},{"id":"ab5c5ba79235fc8b","type":"function","z":"452c67e559f7f353","name":"function 1","func":"msg.payload = cowsay2.say(String(msg.payload))\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"cowsay2","module":"cowsay2"}],"x":280,"y":80,"wires":[[]]},{"id":"287bdc0953858c81","type":"subflow:452c67e559f7f353","z":"80a4dae1194f4214","g":"585fb9746050f490","name":"","x":500,"y":1000,"wires":[["6b8dacf2edf2ffb6"]]}]
